<style>
  .message-content { font-family: Arial, Helvetica, sans-serif; max-width: 600px; font-size: 18px; line-height: 24px; }
</style>

<div class='message-content'>
  <p>Hola {{name}}!</p>
  <br />
  <p>Recibimos su solicitud para restablecer su contraseña.</p>
  <p>Si realmente quiere restablecer su contrasela haga click en el siguiente enlace:</p>
  <p>
    <a href='{{link}}'>Restablecer contraseña</a>
  </p>
  <p>Si no ha enviado esta solicitus, ignore este correo.</p>
  <br />
  <p>Muchas Gracias!</p>
  <p>Equipo de API Ventas</p>
</div>
